<!-- associate the string "About" with the label :title - found in layouts/application.html.erb -->
<% provide(:title, "About") %>
<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
