$gray-light: #777;
$gray-medium-light: #eaeaea;
$gray: #555;
$gray-darker: #222;

$pink: #FFBAD2;

$main-margin-top: 45px;
$main-padding-top: 5px;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}